<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Dashboard</h2>
    </div>
</header>
<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white">
            <!-- Item -->
            <div class="col-xl-4 col-sm-6">
                <div class="item d-flex align-items-center justify-content-center">
                    <div class="icon bg-violet">
                        <i class="icon-user"></i>
                    </div>
                    <div class="title">
                        <span>Staff
                            <br>Registered</span>
                        <div class="progress">
                            <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100"
                                class="progress-bar bg-violet"></div>
                        </div>
                    </div>
                    <div class="number">
                        <strong id="countpeople">

                        </strong>
                    </div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-4 col-sm-6">
                <div class="item d-flex align-items-center justify-content-center">
                    <div class="icon bg-red">
                        <i class="icon-padnote"></i>
                    </div>
                    <div class="title">
                        <span>Driver
                            <br>Registered</span>
                        <div class="progress">
                            <div role="progressbar" style="width: 70%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100"
                                class="progress-bar bg-red"></div>
                        </div>
                    </div>
                    <div class="number">
                        <strong>20</strong>
                    </div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-4 col-sm-6">
                <div class="item d-flex align-items-center justify-content-center">
                    <div class="icon bg-green">
                        <i class="icon-bill"></i>
                    </div>
                    <div class="title">
                        <span>User
                            <br>Online</span>
                        <div class="progress">
                            <div role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100"
                                class="progress-bar bg-green"></div>
                        </div>
                    </div>
                    <div class="number">
                        <strong id="online">

                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <hr class="bg-white" />
        <div class="row bg-white">
            <!-- Statistics -->
            <div class="col-xl-4 col-sm-6">
                <div class="item d-flex align-items-center justify-content-center">
                    <div class="icon bg-red">
                        <i class="fa fa-calendar-check-o"></i>
                    </div>
                    <div class="title">
                        <span>Today
                            <br>Truck Enter</span>
                        <div class="progress">
                            <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100"
                                class="progress-bar bg-violet"></div>
                        </div>
                    </div>
                    <div class="number">
                        <strong>13</strong>
                    </div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-4 col-sm-6">
                <div class="item d-flex align-items-center justify-content-center">
                    <div class="icon bg-green">
                        <i class="fa fa-calendar-o"></i>
                    </div>
                    <div class="title">
                        <span>This week
                            <br>Truck Enter</span>
                        <div class="progress">
                            <div role="progressbar" style="width: 70%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100"
                                class="progress-bar bg-red"></div>
                        </div>
                    </div>
                    <div class="number">
                        <strong>34</strong>
                    </div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-4 col-sm-6">
                <div class="item d-flex align-items-center justify-content-center">
                    <div class="icon bg-orange">
                        <i class="fa fa-paper-plane-o"></i>
                    </div>
                    <div class="title">
                        <span>Forwards</span>
                        <div class="progress">
                            <div role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100"
                                class="progress-bar bg-green"></div>
                        </div>
                    </div>
                    <div class="number">
                        <strong>147</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>