<nav class="side-navbar">
    <!-- Left Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar">
            <img src="img/avatar-6.jpg" alt="..." class="img-fluid rounded-circle">
        </div>
        <div class="title">
            <h1 class="h4">Mark Stephen</h1>
            <p>Admin</p>
        </div>
    </div>
    <!-- Sidebar Navidation Menus-->
    <span class="heading">Main</span>
    <ul class="list-unstyled">
        <li class="active">
            <a href="Admin.html">
                <i class="icon-home"></i>Home</a>
        </li>
        <li>
            <a href="AdminBio.html">
                <i class="icon-interface-windows"></i>Profile</a>
        </li>
        <li>
            <a href="Adminmap.html">
                <i class="icon-screen"></i>Maps</a>
        </li>
        <li>
            <a href="Statistic.html">
                <i class="icon-grid"></i>Statistics</a>
        </li>
        <li>
            <a href="Notification.html">
                <i class="icon-list"></i>Notification</a>
        </li>
    </ul>
    <span class="heading">Extras</span>
    <ul class="list-unstyled">
        <li>
            <a href="AdminEdit.html">
                <i class="icon-bill"></i>ADD/DELETE</a>
        </li>
    </ul>
</nav>