<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">News & Notification</h2>
    </div>
</header>
<section class="forms padding-top">
    <div class="container-fluid">
        <div class="row">
            <!-- Horizontal Form-->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <i class="fa fa-newspaper-o" style="font-size:24px"></i>
                        <b>News</b>
                    </div>
                    <form method="post" action="/newsadd">
                        <div class="card-body">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="msgType" style="float:left">
                                <label class="btn btn-info">
                                    <input type="radio" name="msgtype" id="msgstaff" value="Staff"> Staff
                                </label>
                                <label class="btn btn-info">
                                    <input type="radio" name="msgtype" id="msgguard" value="Guard"> Guard
                                </label>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="2" id="comment" placeholder="Any news today..." name="message"></textarea>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-4 offset-sm-3">
                                    <button type="Submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- gap section    -->
<div class="container1">
</div>
<!-- Admin Notification                                                                          -->
<section class="updates no-padding-top">
    <div class="container-fluid">
        <div class="row">
            <!-- Recent Updates-->
            <div class="col-lg-6">
                <div class="recent-updates card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                <i class="fa fa-ellipsis-v"></i>
                            </button>
                            <div aria-labelledby="closeCard6" class="dropdown-menu dropdown-menu-right has-shadow">
                                <a href="/fullnoti" class="dropdown-item edit">
                                    <i class="fa fa-gear"></i>All Notification</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-header">
                        <h3 class="h4">Recent Message added</h3>
                    </div>
                    <div class="card-body no-padding">
                        <!-- Item-->
                        {{#each msg}}
                        <div class="item d-flex justify-content-between">
                            <div class="info d-flex">
                                <div class="icon">
                                    <i class="icon-rss-feed"></i>
                                </div>
                                <div class="title">
                                    <h5>To: {{msgtype}}</h5>
                                    <p>Message: {{message}}</p>
                                    <p>Date: {{fullday}}</p>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <!-- Recent Activity -------------------------------------------------------------------------- -->
            <div class="col-lg-6  ">
                <div class="recent-activities card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                <i class="fa fa-ellipsis-v"></i>
                            </button>
                            <div aria-labelledby="closeCard8" class="dropdown-menu dropdown-menu-right has-shadow">
                                <a href="#" class="dropdown-item edit">
                                    <i class="fa fa-gear"></i>Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-header">
                        <h3 class="h4">Recent Activities</h3>
                    </div>
                    <div class="card-body no-padding">
                        <div class="item">
                            <div class="row">
                                <div class="col-4 date-holder text-right">
                                    <div class="icon">
                                        <i class="icon-clock"></i>
                                    </div>
                                    <div class="date">
                                        <span>6:00 am</span>
                                        <span class="text-info">6 hours ago</span>
                                    </div>
                                </div>
                                <div class="col-8 content">
                                    <h5>Meeting</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>