<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Authentication</h2>
    </div>
</header>
<section class="updates container-fluid1">
    <div class="jumbotron">
        {{#if msg}} {{#each msg}}
        <h5>News from admin:</h5>{{message}} {{/each}} {{else}}
        <h5>No message at this time..</h5> {{/if}}
    </div>
    <div class="container-fluid" style="padding-top: 0" style="padding-top: 30px">
        <div class="row-lg-6">
            <div class="col" style="no-padding-left">
                <div class="form-group">
                    <label for="exampleFormControlSelect2">ID available</label>
                    <select multiple class="form-control" id="kairosgdata">

                    </select>
                </div>
                <div class="col-lg-4  col-lg-8">
                    <div class="daily-feeds card">
                        <div class="card-header" style="margin-bottom: auto">
                            <h3 class="h4">Verify Driver</h3>
                        </div>
                        <div class="item">
                            <div class="feed d-flex justify-content-between">
                                <div class="col-12">
                                    <div class="feed-body d-flex card-body">
                                        <div class="form-group row">
                                            <div class="col-6">
                                                <a class="btn btn-danger" type="button" onclick="startWebcam();">
                                                    <i class="material-icons">camera</i>
                                                </a>
                                                <a class="btn btn-danger" onclick="snapshot();" type="button" onclick="snapshot();">
                                                    <i class="material-icons">touch_app</i>
                                                </a>

                                            </div>

                                            <div class="col-6">
                                                <input placeholder="" type="text" class="form-control" id="ip">
                                            </div>
                                            <p>
                                                <video onclick="snapshot(this);" width=300 height=300 id="video" controls autoplay></video>
                                                <br>
                                                <canvas id="myCanvas" width="300" height="220"></canvas>
                                            </p>
                                            <audio id="myAudio">
                                                <source src="success.wav" type="audio/wav">
                                            </audio>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            //--------------------
            // GET USER MEDIA CODE
            //--------------------
            navigator.getUserMedia = (navigator.getUserMedia ||
                navigator.webkitGetUserMedia ||
                navigator.mozGetUserMedia ||
                navigator.msGetUserMedia);

            var video;
            var webcamStream;

            function startWebcam() {
                if (navigator.getUserMedia) {
                    navigator.getUserMedia(

                        // constraints
                        {
                            video: true,
                            audio: false
                        },

                        // successCallback
                        function (localMediaStream) {
                            video = document.querySelector('video');
                            video.src = window.URL.createObjectURL(localMediaStream);
                            webcamStream = localMediaStream;
                        },

                        // errorCallback
                        function (err) {
                            console.log("The following error occured: " + err);
                        }
                    );
                } else {
                    console.log("getUserMedia not supported");
                }
            }


            //---------------------
            // TAKE A SNAPSHOT CODE
            //---------------------
            var canvas, ctx;

            (function init() {
                // Get the canvas and obtain a context for
                // drawing in it
                canvas = document.getElementById("myCanvas");
                ctx = canvas.getContext('2d');
            })()

            function snapshot() {
                ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
                var img1 = new Image();
                img1.src = canvas.toDataURL();
                var ip = document.getElementById('ip').value;
                var x = document.getElementById("myAudio");
                x.play();
                datad = "{\r\n    \"image\":\"" + img1.src + "\",\r\n    \"gallery_name\":\"Arti\"\r\n}"
                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "https://api.kairos.com/recognize",
                    "method": "POST",
                    "headers": {
                        "content-type": "application/json",
                        "app_id": "c130ef9a",
                        "app_key": "ec1ecdd587189c7626cb3315ffce91db",
                        "cache-control": "no-cache"
                    },
                    "processData": false,
                    "data": datad
                }

                $.ajax(settings).done(function (response) {
                    var m = response;
                    //function for save pass identification to log page
                    if (JSON.stringify(m).indexOf("success") > -1) {
                        //console.log(m.images[0].candidates[0].subject_id);
                        var profileguard = m.images[0].candidates[0].subject_id;
                        console.log(profileguard);
                        var today = new Date()
                            .toISOString()
                            .replace('-', '/')
                            .split('T')[0]
                            .replace('-', '/');
                        var currenttime = new Date().getTime();
                        $.ajax({
                            dataType: 'json',
                            type: 'post',
                            url: '/guardlog',
                            data: { log: profileguard },
                            success: function (show) {
                                Materialize.toast('User Identfied. Name : ' + JSON.stringify(m.images[0].candidates[0].subject_id), 1000);
                            }
                        });
                        //console.log(profileguard);
                        $("#kairosgdata").append("<p><option>" + profileguard + "</option></p>");
                    }
                    else {
                        Materialize.toast('User Not identified');
                    }
                    //console.log(+ JSON.stringify(m.images[0].subject_id))
                });

            }

        </script>



</section>