<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Authentication</h2>
    </div>
</header>
<section class="updates container-fluid1">
    <div class="container-fluid" style="padding-top: 0" style="padding-top: 30px">
        <div class="row-lg-6">
            <div class="col-lg-4  col-lg-8">
                <div class="daily-feeds card">
                    <div class="card-header" style="margin-bottom: auto">
                        <h3 class="h4">Verify Driver</h3>
                    </div>
                    <div class="item">
                        <div class="feed d-flex justify-content-between">
                            <div class="col-12">
                                <div class="feed-body d-flex card-body">
                                    <div class="form-group row">
                                        <div class="col -6">
                                            <a class="btn btn-danger" type="button" onclick="startWebcam();">
                                                <i class="material-icons">camera</i>
                                            </a>
                                            <a class="btn btn-danger" onclick="snapshot();" type="button" onclick="snapshot();">
                                                <i class="material-icons">touch_app</i>
                                            </a>
                                        </div>
                                        <div class="col-6">
                                            <input placeholder="Enter Name" type="text" class="form-control" id="ip">
                                        </div>
                                        <p>
                                            <video onclick="snapshot(this);" width=300 height=300 id="video" controls autoplay></video>
                                            <br>
                                            <canvas id="myCanvas" width="300" height="220"></canvas>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            //--------------------
            // GET USER MEDIA CODE
            //--------------------
            navigator.getUserMedia = (navigator.getUserMedia ||
                navigator.webkitGetUserMedia ||
                navigator.mozGetUserMedia ||
                navigator.msGetUserMedia);

            var video;
            var webcamStream;

            function startWebcam() {
                if (navigator.getUserMedia) {
                    navigator.getUserMedia(

                        // constraints
                        {
                            video: true,
                            audio: false
                        },

                        // successCallback
                        function (localMediaStream) {
                            video = document.querySelector('video');
                            video.src = window.URL.createObjectURL(localMediaStream);
                            webcamStream = localMediaStream;
                        },

                        // errorCallback
                        function (err) {
                            console.log("The following error occured: " + err);
                        }
                    );
                } else {
                    console.log("getUserMedia not supported");
                }
            }


            //---------------------
            // TAKE A SNAPSHOT CODE
            //---------------------
            var canvas, ctx;

            (function init() {
                // Get the canvas and obtain a context for
                // drawing in it
                canvas = document.getElementById("myCanvas");
                ctx = canvas.getContext('2d');
            })()

            function snapshot() {

                ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
                var img1 = new Image();
                img1.src = canvas.toDataURL();
                var ip = document.getElementById('ip').value;
                datad = "{\r\n    \"image\":\"" + img1.src + "\",\r\n    \"subject_id\":\"" + ip + "\",\r\n    \"gallery_name\":\"Arti\"\r\n}";
                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "https://api.kairos.com/enroll",
                    "method": "POST",
                    "headers": {
                        "content-type": "application/json",
                        "app_id": "c130ef9a",
                        "app_key": "96a612c100079dfb335b31a7c0350f83",
                        "cache-control": "no-cache"
                    },
                    "processData": false,
                    "data": datad
                }

                $.ajax(settings).done(function (response) {
                    //
                    if ((response.images[0].transaction.status) == "success") {
                        Materialize.toast("Image Trained succesfully by name " + response.images[0].transaction.subject_id + " in gallery name " + response.images[0].transaction.gallery_name, 4000);
                    }
                    else {
                        Materialize.toast("Unable to Train Image", 4000);
                    }
                });
                //console.log(img1.src);
            }

        </script>