<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Snapshot</h2>
    </div>
</header>
<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluidsnap ">

    </div>
</section>