<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Dashboard</h2>
    </div>
</header>
<div class="card-body">
    <div class="jumbotron">
        {{#if msg}} {{#each msg}}
        <h5>News from admin:</h5>{{message}} {{/each}} {{else}}
        <h5>No message at this time..</h5> {{/if}}
    </div>
</div>
<section class="mapper">
    <header class="page-header-map">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">All Truck Running</h2>
        </div>
    </header>
    <div class="container-fluid">
        <div id="map" style="margin: 0 auto;" class=" has-shadow"></div>
        <script>

        </script>

    </div>
</section>
<script>
    (function () {
        var socket = io('http://localhost:3000');
        //Map create
        var map = L.map('map').setView([14.065507, 100.607233], 14);
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        var create = false;
        var create1 = false;
        var marker;
        socket.on('c', function (data) {
            var lat = data.result1;
            var long = data.result2;
            console.log(data)
            if (create == false) {
                marker = L.marker([lat, long]).addTo(map);

                create = true;
            } else {
                var newLatLng = new L.LatLng(lat, long);
                marker.setLatLng(newLatLng);
                marker.bindPopup("1");
            }
            console.log(data);
        });
        var marker1;
        socket.on('co', function (data1) {
            var lat1 = data1.result3;
            var long2 = data1.result4;

            console.log(data1);
            if (create1 == false) {
                marker1 = L.marker([lat1, long2]).addTo(map);
                create1 = true;
            } else {
                var newLatLng1 = new L.LatLng(lat1, long2);
                console.log(newLatLng1);
                marker1.setLatLng(newLatLng1);
                marker1.bindPopup("2");
            }
            console.log(data1);
        });


        socket.on('d', function (online) {
            $('#online').html(online);
        });
        socket.on('h', function (countpeople) {
            $('#countpeople').html(countpeople);
            console.log(countpeople);
        });
        socket.on('hh', function (countpeople1) {
            $('#countpeople1').html(countpeople1);
            console.log(countpeople1);
        });
    })();
</script>