<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">All Notification</h2>
    </div>
</header>

<!-- Dashboard Header Section    -->
<div class="container1">
</div>
<!-- Admin Notification                                                                          -->
<section class="updates no-padding-top">
    <div class="container-fluid">
        <div class="row">
            <!-- Recent Updates-->
            <div class="col-lg-8">
                <div class="recent-updates card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                <i class="fa fa-ellipsis-v"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-header">
                        <h3 class="h4">Staff Notification</h3>
                    </div>
                    <div class="card-body no-padding">
                        <!-- Item-->
                        {{#each msg}}
                        <div class="item d-flex justify-content-between">
                            <div class="info d-flex">
                                <div class="icon">
                                    <i class="icon-rss-feed"></i>
                                </div>
                                <div class="title">
                                    <h5>To: {{msgtype}}</h5>
                                    <p>Message: {{message}}</p>
                                    <p>Date: {{fullday}}</p>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>