<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">All Notification</h2>
    </div>
</header>
<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white has-shadow">
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-violet">
                        <i class="icon-user"></i>
                    </div>
                    <div class="title">
                        <span>New
                            <br>Clients</span>
                        <div class="progress">
                            <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100"
                                class="progress-bar bg-violet"></div>
                        </div>
                    </div>
                    <div class="number">
                        <strong>25</strong>
                    </div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-red">
                        <i class="icon-padnote"></i>
                    </div>
                    <div class="title">
                        <span>Work
                            <br>Orders</span>
                        <div class="progress">
                            <div role="progressbar" style="width: 70%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100"
                                class="progress-bar bg-red"></div>
                        </div>
                    </div>
                    <div class="number">
                        <strong>70</strong>
                    </div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-green">
                        <i class="icon-bill"></i>
                    </div>
                    <div class="title">
                        <span>New
                            <br>Invoices</span>
                        <div class="progress">
                            <div role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100"
                                class="progress-bar bg-green"></div>
                        </div>
                    </div>
                    <div class="number">
                        <strong>40</strong>
                    </div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-orange">
                        <i class="icon-check"></i>
                    </div>
                    <div class="title">
                        <span>Open
                            <br>Cases</span>
                        <div class="progress">
                            <div role="progressbar" style="width: 50%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100"
                                class="progress-bar bg-orange"></div>
                        </div>
                    </div>
                    <div class="number">
                        <strong>50</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Dashboard Header Section    -->
<div class="container1">
</div>
<!-- Admin Notification                                                                          -->
<section class="updates no-padding-top">
    <div class="container-fluid">
        <div class="row">
            <!-- Recent Updates-->
            <div class="col-lg-6">
                <div class="recent-updates card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                <i class="fa fa-ellipsis-v"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-header">
                        <h3 class="h4">Staff Notification</h3>
                    </div>
                    <div class="card-body no-padding">
                        <!-- Item-->
                        {{#each staffmessage}}
                        <div class="item d-flex justify-content-between">
                            <div class="info d-flex">
                                <div class="icon">
                                    <i class="icon-rss-feed"></i>
                                </div>
                                <div class="title">
                                    <h5>To: {{msgtype}}</h5>
                                    <p>Message: {{message}}</p>
                                    <p>Date: {{fullday}}</p>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>