<!-- Left Sidebar Header-->
<div class="sidebar-header d-flex align-items-center">
    <div class="avatar">
        <img src="img/avatar-6.jpg" alt="..." class="img-fluid rounded-circle">
    </div>
    <div class="title">
        <h1 class="h4">{{name}}</h1>
        <p>Admin</p>
    </div>
</div>
<!-- Sidebar Navidation Menus-->
<span class="heading">Main</span>
<ul class="list-unstyled">
    <li>
        <a href="/admin">
            <i class="icon-home"></i>Home</a>
    </li>
    <li>
        <a href="/adminbio">
            <i class="icon-interface-windows"></i>Profile</a>
    </li>
    <li>
        <a href="/adminstat">
            <i class="icon-grid"></i>Statistics</a>
    </li>
    <li>
        <a href="/adminnoti">
            <i class="icon-list"></i>Notification</a>
    </li>
</ul>
<span class="heading">Extras</span>
<ul class="list-unstyled">
    <li>
        <a href="/snapshot">
            <i class="icon-camera"></i>Snapshot</a>
    </li>
    <li>
        <a href="/adminedit">
            <i class="icon-bill"></i>ADD/DELETE</a>
    </li>
</ul>