<div class="sidebar-header d-flex align-items-center">
    <div class="avatar">
        <img src="img/avatar-5.jpg" alt="..." class="img-fluid rounded-circle">
    </div>
    <div class="title">
        <h1 class="h4">Sissy Yoyo</h1>
        <p>Guard</p>
    </div>
</div>
<!-- Sidebar Navidation Menus-->
<span class="heading">Main</span>
<ul class="list-unstyled">
    <li>
        <a href="/guard">
            <i class="icon-home"></i>Verify</a>
    </li>
    <li class="active">
        <a href="/guardbio">
            <i class="icon-interface-windows"></i>Profile</a>
    </li>
    <li>
        <a href="GuardStatistic.html">
            <i class="icon-grid"></i>Statistics</a>
    </li>
    </nav>